<div class="ui center aligned">
    {% if table.pagination.getTotalItemCount() > table.pagination.getItemNumberPerPage() %}
        {{ knp_pagination_render(table.pagination) }}
    {% endif %}
</div>
