<div class="ui center aligned">
    <div class="ui pagination mini menu">

        <a class="icon item">
            <i class="left chevron icon"></i>
        </a>

        {% for i in 1..10 %}
            <a class="item {% if loop.first %}active{% endif %}">
                {{ i }}
            </a>
        {% endfor %}

        <a class="icon item">
            <i class="right chevron icon"></i>
        </a>

    </div>
</div>
