{# ##################################################################################### #}
{#    TABLE CLASS                                                                        #}
{# ##################################################################################### #}

{% set tableClass = 'ui very compact small celled striped stackable table' %}

{% if table.class is defined %}
    {% set tableClass = tableClass ~ ' ' ~ field.class %}
{% endif %}

{# ##################################################################################### #}
{#    TABLE OPTIONS                                                                      #}
{# ##################################################################################### #}

{% set allowSelection = false %}

{% if table.allowSelection is defined %}
    {% set allowSelection = table.allowSelection %}
    {% set tableClass = tableClass ~ ' selectable' %}
{% endif %}

{# ##################################################################################### #}
{#    TABLE                                                                              #}
{# ##################################################################################### #}

<table class="{{ tableClass }}">
    <thead>
        {% include '@BlastUI/Widget/Table/header.html.twig' %}
    </thead>

    <tbody>
        {% spaceless %}
            {% for item in table.data %}
                {% include '@BlastUI/Widget/Table/Row/row.html.twig' %}
            {% else %}
                {% include '@BlastUI/Widget/Table/Row/empty.html.twig' %}
            {% endfor %}
        {% endspaceless %}
    </tbody>

    <tfoot>
        {% include '@BlastUI/Widget/Table/footer.html.twig' %}
    </tfoot>
</table>
