{% import "@BlastUI/Layout/Macro/_menu.html.twig" as _menu %}

{% block side_bar %}

    <div id="sidebar" class="ui sidebar vertical accordion menu visible left">

        {% block side_bar_header %}
            <a class="item" href="/dashboard">
                <h2 class="ui header">
                    {% block side_bar_header_logo %}
                        <img src="{{template.logo}}"/>
                    {% endblock side_bar_header_logo %}
                    {% block side_bar_header_title %}
                        {{template.title}}
                    {% endblock side_bar_header_title %}
                </h2>
            </a>
        {% endblock side_bar_header %}

        {% block side_bar_menu %}
            {{ _menu.menu(menu) }}
        {% endblock side_bar_menu %}
    </div>

{% endblock side_bar %}
