{% if theme == 'dark'%}
    <a href="?theme=default" class="item">
        <i class="user outline icon"></i>
        Thème clair
    </a>
{% else %}
    <a href="?theme=dark" class="item">
        <i class="user secret icon"></i>
        Thème sombre
    </a>
{% endif %}
