{% block top_bar %}
    <div class="ui fixed inverted menu top bar">

        {# ################################################################################ #}
        {#     SIDE BAR TOGGLE                                                              #}
        {# ################################################################################ #}

        {% block sidebar_toggle %}
            <a id="sidebar-toggle" class="icon item" title="Afficher/Masquer la barre latérale">
                <i class="sidebar icon"></i>
            </a>
        {% endblock sidebar_toggle %}

        {# ################################################################################ #}
        {#     BREADCRUMB                                                                   #}
        {# ################################################################################ #}

        {% block breadcrumb %}
            {{ render_breadcrumb() }}
        {% endblock breadcrumb %}

        {# ################################################################################ #}
        {#     RIGHT MENU                                                                   #}
        {# ################################################################################ #}

        {% block right_menu %}

            <div class="right menu">

                {# ######################################################################## #}
                {#     SEARCH BAR                                                           #}
                {# ######################################################################## #}

                {% block search_bar %}

                    <div class="item secondary inverted borderless search field">
                        <div class="ui transparent inverted icon input">
                            <input placeholder="Recherche..." type="text">
                            <i class="search link icon"></i>
                        </div>
                    </div>

                {% endblock search_bar %}

                {# ######################################################################## #}
                {#     USER MENU                                                            #}
                {# ######################################################################## #}

                {% block user_menu %}

                    {% include 'SilUserBundle:Block:user-menu.html.twig' %}

                {% endblock user_menu %}
            </div>

        {% endblock right_menu %}
    </div>
{% endblock top_bar %}
