<a class="data-type boolean ui {{ data == true ? 'green' : 'red' }} label">
    <i class="{{ data == true ? 'check' : 'times' }} icon"></i>
    {{ ('blast.ui.data_type.boolean.' ~ (data == true ? 'true' : 'false'))|trans }}
</a>
