<form class="ui form filters segments">

    {% for filter in list.filters %}

        <div class="ui segment filter" data-name="{{ filter.name }}">
            {% include '@BlastUI/Views/Form/Type/' ~ filter.type ~ '.html.twig' with {
                'field' : filter
            } %}
        </div>

    {% endfor %}

    <div class="ui segment">

        <div class="ui divider"></div>

        {{ blast_widget_field('submit', {
            label: 'Filter',
            icon: 'filter'
        }) }}

        {{ blast_widget_field('link', {
            label: 'Annuler',
            icon: 'undo',
            class: 'button right floated cancel'
        }) }}

    </div>

</form>
