Sil\Bundle\ManufacturingBundle\Domain\Entity\BomLine:
    type: mappedSuperclass
    table: sil_manufacturing_bom_line
    repositoryClass: Sil\Bundle\ManufacturingBundle\Doctrine\ORM\BomLineRepository
    fields:
        qtyValue:
            type: decimal
            precision: 15
            scale: 5

    manyToOne:
        qtyUom:
            targetEntity: Sil\Bundle\UomBundle\Entity\Uom
            joinColumn:
                name: qty_uom_id
                referencedColumnName: id
                nullable: false

        bom:
            targetEntity: Sil\Bundle\ManufacturingBundle\Domain\Entity\Bom
            inversedBy: lines
            joinColumn:
                name: bom_id
                referencedColumnName: id
                nullable: false

        stockItem:
            targetEntity: Sil\Bundle\StockBundle\Domain\Entity\StockItemInterface
            joinColumn:
                name: stockitem_id
                referencedColumnName: id
                nullable: false
