/app/config/parameters.yml

/phpunit.xml

/var/*

!/var/cache
/var/cache/*
!var/cache/.gitkeep

!/var/logs
/var/logs/*
!var/logs/.gitkeep

!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

!var/SymfonyRequirements.php

# Composer PHAR
/composer.phar

/vendor/

/web/bundles/

# Build data
/build/

# IDE
/nbproject/

# Backups
*~

# npm
/node_modules/

/.web-server-pid
/.php_cs.cache
**/.php_cs.cache
/npm-debug.log
