/app/config/parameters.yml

/phpunit.xml

/var/*

!/var/cache
/var/cache/*
!/var/cache/.gitkeep

!/var/logs
/var/logs/*
!/var/logs/.gitkeep

!/var/sessions
/var/sessions/*
!/var/sessions/.gitkeep

# Composer PHAR
/composer.phar
composer.lock

/vendor/

/web/bundles/
/web/media/
/web/assets/
/web/config.php

# vandor/bin
/bin/*
!/bin/console
!/bin/ci-scripts
!/bin/git-script


# Build data
/build/

# IDE
/nbproject/

# Backups
*~

# npm
/node_modules/

/.web-server-pid
/.php_cs.cache
**/.php_cs.cache
/npm-debug.log
yarn-error.log
selenium.log
package-lock.json

# Ignore Test config files
src/Tests/*.suite.yml
src/Tests/_output/*
!src/Tests/_output/.gitkeep
src/Tests/_support/_generated/*
!src/Tests/_support/_generated/.gitkeep

.env
