<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
	 verbose="true"
         beStrictAboutOutputDuringTests="false"
         logIncompleteSkipped="false"         
         >


  <testsuites>
    <testsuite name="Unit">
      <directory>./src/*/Bundle/*/Tests/Unit</directory>
    </testsuite>
    <testsuite name="Functional">
      <directory>./src/*/Bundle/*/Tests/Functional</directory>
    </testsuite>
  </testsuites>


  <filter>
    <whitelist>
      <directory>./src/</directory>
      <exclude>
        <directory>./Tests/</directory>
        <directory>./DataFixtures/</directory>
        <directory>./Resources/</directory>
        <directory>./vendor/</directory>
        <directory>./coverage/</directory>
        <directory>./src/*/Bundle/*/bin/</directory>
        <directory>./src/*/Bundle/*/etc/</directory>
        <directory>./src/*/Bundle/*/Tests/</directory>
        <directory>./src/*/Bundle/*/DataFixtures/</directory>
        <directory>./src/*/Bundle/*/vendor/</directory>
        <directory>./src/*/Bundle/*/coverage/</directory>
      </exclude>
    </whitelist>
  </filter>

  <php>
    <server name="KERNEL_DIR" value="./app/" />
    <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />
    <ini name="display_errors" value="On" />
    <ini name="display_startup_errors" value="On" />
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="12" />
  </php>

  <logging>
    <log type="coverage-html" target="build/coverage"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="coverage-crap4j" target="build/logs/crap4j.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>
  
  <listeners>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
  </listeners>
</phpunit>
