<form action="{{ path('blast_search_term') }}" method="GET" class="sidebar-form" role="search">
    <div class="custom-search-form">
        <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" data-placeholder="{{ 'search_query'| trans() }}" autocomplete="off">
    </div>
</form>
