.skin-blue nav {
    background-color: #3c8dbc;
}

.skin-blue nav.navbar-static-top {
    min-height: 50px;
}

.skin-blue nav .nav a {
    color: rgba(255, 255, 255, 0.8);
}

.skin-blue nav .nav a.btn-danger {
    color           : white;
    background-color: #d9534f;
    border-color    : #d43f3a;
}

.skin-blue nav .btn-group > .btn:not(.dropdown-toggle) {
    color: #444;
}

.skin-blue nav .nav .open > a,
.skin-blue nav .nav .open > a:focus,
.skin-blue nav .nav .open > a:hover,
.skin-blue nav .nav > li > a:active,
.skin-blue nav .nav > li > a:focus,
.skin-blue nav .nav > li > a:hover,
.skin-blue nav .sidebar-toggle:hover {
    background: rgba(0, 0, 0, 0.1);
    color     : #f6f6f6;
}

.skin-blue nav nav-right > .nav {
    margin-right: 10px;
}

.skin-blue nav .sidebar-toggle {
    color: rgba(255, 255, 255, 0.8);
}
/* skin-blue logo */
.skin-blue .logo {
    background-color: #367fa9;
    color           : #f9f9f9;
}

.skin-blue .logo > a {
    color: #f9f9f9;
}

.skin-blue .logo:hover {
    background: #357ca5;
}
/* skin-blue content header */
.skin-blue .right-side > .content-header {
    background: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
/* Skin-blue user panel */
.skin-blue .user-panel > .image > img {
    border: 1px solid #dfdfdf;
}

.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
    color: #555555;
}
/* skin-blue sidebar */
.skin-blue .sidebar {
    border-bottom: 1px solid #fff;
}

.skin-blue .sidebar > .sidebar-menu > li {
    border-top   : 1px solid #fff;
    border-bottom: 1px solid #dbdbdb;
}

.skin-blue .sidebar > .sidebar-menu > li:first-of-type {
    border-top: 1px solid #dbdbdb;
}

.skin-blue .sidebar > .sidebar-menu > li:first-of-type > a {
    border-top: 1px solid #fff;
}

.skin-blue .sidebar > .sidebar-menu > li > a {
    margin-right: 1px;
}

.skin-blue .sidebar > .sidebar-menu > li > a:hover,
.skin-blue .sidebar > .sidebar-menu > li.active > a {
    color     : #222;
    background: #f9f9f9;
}

.skin-blue .sidebar > .sidebar-menu > li > .treeview-menu {
    margin    : 0 1px;
    background: #f9f9f9;
}

.skin-blue .left-side {
    background        : #f4f4f4;
    -webkit-box-shadow: inset -3px 0 8px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow   : inset -3px 0 8px -4px rgba(0, 0, 0, 0.1);
    box-shadow        : inset -3px 0 8px -4px rgba(0, 0, 0, 0.07);
}

.skin-blue .sidebar a {
    color: #555555;
}

.skin-blue .sidebar a:hover {
    text-decoration: none;
}

.skin-blue .treeview-menu > li > a {
    color: #777;
}

.skin-blue .treeview-menu > li > a:hover,
.skin-blue .treeview-menu > li.active > a {
    color: #111;
}

/* Sidebar search form */

.skin-blue .sidebar-form {
    margin: 10px;
}

.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color           : #666;
}

.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}

.skin-blue .sidebar-form .btn {
    color                             : #999;
    -webkit-border-top-left-radius    : 0 !important;
    -webkit-border-top-right-radius   : 2px !important;
    -webkit-border-bottom-right-radius: 2px !important;
    -webkit-border-bottom-left-radius : 0 !important;
    -moz-border-radius-topleft        : 0 !important;
    -moz-border-radius-topright       : 2px !important;
    -moz-border-radius-bottomright    : 2px !important;
    -moz-border-radius-bottomleft     : 0 !important;
    border-top-left-radius            : 0 !important;
    border-top-right-radius           : 2px !important;
    border-bottom-right-radius        : 2px !important;
    border-bottom-left-radius         : 0 !important;
}

.skin-blue .sidebar-form #custom-search-admins {
    margin-top: 3px;
}

.skin-blue nav .dropdown-menu > li > a {
    color: #444;
}

.skin-blue .breadcrumb li.active,
.skin-blue a.navbar-brand {
    color: #000;
}

/* Lists */
table.sonata-ba-list thead tr th {
    border-bottom: 1px solid #aaa;
}

/* remove user dropdown overlapping panels */
ul.dropdown-user {
    border    : 0;
    background: transparent;
}

/* split checkboxes into columns */
.skin-blue .columns-2 {
    columns        : 2;
    -webkit-columns: 2;
    -moz-columns   : 2;
}

.skin-blue .columns-3 {
    columns        : 3;
    -webkit-columns: 3;
    -moz-columns   : 3;
}

/* weird fix to align checkboxes */
.skin-blue .columns-2 li,
.skin-blue .columns-3 li {
    padding-top: 1px;
}

.skin-blue .multiple-checkbox span {
    font-weight: normal;
}

/* navbar-collapse links*/
.skin-blue .breadcrumb li.active,
.skin-blue a.navbar-brand {
    color: #fff;
}

.skin-blue .breadcrumb li.active:hover,
.skin-blue a.navbar-brand:hover {
    color: #d9d9d9;
}

/* Helper Links */
.helper-links a.framacalc {
    display            : inline-block;
    line-height        : 26px;
    padding-top        : 12px;
    padding-bottom     : 12px;
    height             : 50px;
    width              : 61px;
    overflow           : hidden;
    background-image   : url("../framacalc.png");
    background-position: 15px 12px;
    background-repeat  : no-repeat;
}

/* Fix for side menu icons (to be removed when adminLTE fixes it) */
.sidebar-menu li > a > .pull-right {
    position  : absolute;
    right     : 10px;
    top       : 50%;
    margin-top: -7px;
}

.sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg);
}

/* Fixed header */
section.content-header {
    background-color: #ECF0F5;
}

section.content-header.stuck {
    position: fixed;
    top     : 36px;
    z-index : 5;
}

section.content-header nav {
    margin-bottom: 10px;
}

section.content-header.stuck nav {
    margin-left: -15px;
}

section.content-header .nav-tabs-custom {
    margin-bottom: 0;
}

section.content {
    padding-top: 0;
}

.skin-blue .navbar-right {
    margin-right: 0;
}

.skin-blue .alert {
    margin-bottom: 0;
    border-radius: 0;
    margin-top   : 1px;
}

.skin-blue .fa.fa-exclamation-circle.has-errors {
    color: #dd4b39;
}

.skin-blue .box-body {
    padding: 0 0 1em;
}

.skin-blue .sonata-ba-collapsed-fields .form-group {
    margin : 0 -1px;
    padding: 0.2em 1em;
}

.skin-blue .field-container .form-group {
    padding: 0 0.2em;
    /*clear: both;*/
}

.skin-blue .entityCodeGeneratorActions,
.skin-blue .entityCodeGeneratorActions .entityCodeGeneratorButton {
    float: left;
    width: 100%;
}

.skin-blue a.add-choice {}

.skin-blue .multiple-checkbox::before {
    content: '';
    width  : 100%;
}

.skin-blue .multiple-checkbox + a.add-choice {}

.skin-blue .mainPhoneContainer address {
    margin-bottom: 0;
}

.skin-blue .mainAddressContainer blockquote,
.skin-blue .mainPhoneContainer blockquote {
    box-shadow: 0 2px 4px #EEE;
}

.skin-blue .countable-tab span.counter {
    background-color: #3c8dbc;
    color           : #FFF;
    border-radius   : 5px 0 0 5px;
    height          : 1em;
    display         : block;
    text-align      : center;
    line-height     : 1em;
    font-weight     : bold;
    font-size       : 0.9em;
    padding         : 0 0.1em 0 0.2em;
    margin-top      : 0.1em;
    margin-right    : -0.1em;
}

.skin-blue .countable-tab:not(.active) span.counter {
    opacity: 0.5;
}

.skin-blue .countable-tab span.counter[data-count="0"] {
    opacity: 0.2;
}

.skin-blue .input-group-addon {
    width: 0;
}

.skin-blue .sonata-collection-row-without-label div[id^="field_container_"] {
    position: relative;
}

.skin-blue .sonata-collection-row-without-label div[id^="field_container_"] span[id^="field_actions_"] {
    position: absolute;
    top     : -2.65em;
    right   : 0.1em;
}

.skin-blue .field-as-inline,
.skin-blue div.new-line-after,
.skin-blue div.new-line-before {
    display       : inline-block;
    vertical-align: top;
}

.skin-blue ul.sidebar-menu li a {
    padding: 0.5em;
}

.skin-blue ul.sidebar-menu li ul li a {
    padding: 0.2em 1em;
}

.skin-blue .sonata-ba-action.btn:not(:hover) {
    background: white;
}

.skin-blue .sonata-ba-action.btn:not(:hover).btn-success {
    background: #00a65a;
    color     : white;
}

.skin-blue .sonata-ba-action.btn:not(:hover).btn-danger {
    background: #dd4b39;
    color     : white;
}

.skin-blue .btn.setAsCover {
    background-color: #3c8dbc;
    cursor          : pointer;
}

.skin-blue .btn.setAsCover.cover {
    background-color: #00a65a;
    cursor          : default;
}

.skin-blue .btn.setAsCover .fa.fa-check-circle,
.skin-blue .btn.setAsCover.cover .fa.fa-picture-o {
    display: none;
}

.skin-blue .btn.setAsCover .fa.fa-picture-o,
.skin-blue .btn.setAsCover.cover .fa.fa-check-circle {
    display: inline-block;
}

.skin-blue tr.sonata-ba-view-container a:not(.btn),
.skin-blue tr.sonata-ba-view-container th a:not(.btn) {
    background-position: center right;
    background-repeat  : no-repeat;
    background-image   : linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%2306c%22%20d%3D%22M1.5%204.518h5.982V10.5H1.5z%22%2F%3E%3Cpath%20d%3D%22M5.765%201H11v5.39L9.427%207.937l-1.31-1.31L5.393%209.35l-2.69-2.688%202.81-2.808L4.2%202.544z%22%20fill%3D%22%2306f%22%2F%3E%3Cpath%20d%3D%22M9.995%202.004l.022%204.885L8.2%205.07%205.32%207.95%204.09%206.723l2.882-2.88-1.85-1.852z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
    padding-right      : 16px;
}

.skin-blue .sonata-ba-view-container th {
    max-width : 33%;
    text-align: right;
    min-width : 250px;
}

.skin-blue nav .filterList .dropdown-menu > li.selectedFilter,
.skin-blue nav .filterList .dropdown-menu > li.selectedFilter > a,
.skin-blue nav .filterList .dropdown-menu > li.selectedFilter > a:hover,
.skin-blue nav .filterList .dropdown-menu > li.selectedFilter:hover {
    background-color: #3C8DBC;
    color           : #F1F5FA;
}

.skin-blue table tr td.sonata-ba-list-field.sonata-ba-list-field-actions {
    min-width: 150px;
}

.skin-blue .table .table {
    margin-bottom: 0;
}

.skin-blue .sidebar-menu .treeview-menu > li > a > .fa,
.skin-blue .sidebar-menu .treeview-menu > li > a > .glyphicon,
.skin-blue .sidebar-menu .treeview-menu > li > a > .ion {
   text-align: center;
   margin-right:3px;
}
