imports:
    - { resource: "@SilUomBundle/Resources/config/services.yml" }


services:

    sil.code_generator.stock_movement:
        class: Sil\Bundle\StockBundle\Domain\Generator\MovementCodeGenerator

    sil.code_generator.stock_operation:
        class: Sil\Bundle\StockBundle\Domain\Generator\OperationCodeGenerator

    sil.code_generator.stock_unit:
        class: Sil\Bundle\StockBundle\Domain\Generator\StockUnitCodeGenerator

    sil.factory.stock_movement:
        class: Sil\Bundle\StockBundle\Domain\Factory\MovementFactory
        arguments:
            - '@sil.code_generator.stock_movement'

    sil.factory.stock_operation:
        class: Sil\Bundle\StockBundle\Domain\Factory\OperationFactory
        arguments:
            - '@sil.code_generator.stock_operation'

    sil.factory.stock_unit:
        class: Sil\Bundle\StockBundle\Domain\Factory\StockUnitFactory
        arguments:
            - '@sil.code_generator.stock_unit'


    ###################
    # FILTERS
    ###################

    sil.stock.filter.location:
        class: Sil\Bundle\StockBundle\Doctrine\ORM\LocationFilter

    ###################
    # DOMAIN SERVICE
    ###################

    sil.domain_service.stock_movement:
        class: Sil\Bundle\StockBundle\Domain\Service\MovementService
        arguments:
            - '@sil.repository.stock_movement'
            - '@sil.repository.stock_unit'
            - '@sil.factory.stock_movement'
            - '@sil.factory.stock_unit'

    sil.domain_service.stock_operation:
        class: Sil\Bundle\StockBundle\Domain\Service\OperationService
        arguments:
            - '@sil.repository.stock_operation'
            - '@sil.domain_service.stock_movement'
            - '@sil.factory.stock_operation'

    ###################
    # DOMAIN QUERIES
    ###################

    sil.domain_query.stock_item:
        class: Sil\Bundle\StockBundle\Domain\Query\StockItemQueries
        arguments:
            - '@sil.repository.stock_unit'




    ###################
    # FORM TYPES
    ###################

    sil.form_type.stock_unit:
        class: Sil\Bundle\StockBundle\Form\Type\StockUnitFormType
        tags:
            - {name: form.type, alias: form}
        arguments:
            - '@sil.repository.stock_location'

    sil.form_type.stock_location_choice:
        class: Sil\Bundle\StockBundle\Form\Type\LocationChoiceFormType
        tags:
            - {name: form.type, alias: form}
        arguments:
            - '@sil.repository.stock_location'


    ###################
    # CONTROLLERS
    ###################

    sil.controller.stock_operation:
        class: Sil\Bundle\StockBundle\Controller\OperationCRUDController
        calls:
            - ['setContainer', ['@service_container']]
            - ['setOperationService', ['@sil.domain_service.stock_operation']]

    sil.controller.stock_item:
        class: Sil\Bundle\StockBundle\Controller\StockItemCRUDController
        calls:
            - ['setContainer', ['@service_container']]

    sil.controller.stock_unit:
        class: Sil\Bundle\StockBundle\Controller\StockUnitCRUDController
        calls:
            - ['setContainer', ['@service_container']]
