<div class="item">
    <div class="ui primary floating dropdown button">
        <span class="text">Exporter</span>
        <div class="menu">
            <div class="scrolling menu">
                <div class="item">
                    <i class="file alternate outline icon"></i>
                    CSV
                </div>
                <div class="item">
                    <i class="file outline icon"></i>
                    ODS
                </div>
                <div class="item">
                    <i class="file excel outline icon"></i>
                    XLS
                </div>
            </div>
        </div>
    </div>
</div>
