{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <ul class="sonata-ba-show-many-to-many">
    {% set route_name = field_description.options.route.name %}
        {% for element in value %}
            <li>
                {{ element.option.name }}: {{ element.value }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
