<div id="confirm-modal" class="ui basic mini modal">
    <div class="ui icon header">
        <i class="answer icon"></i>
        Confirmation de la suppression
    </div>
    <div class="content">
        <p>Êtes-vous sûr de vouloir effectuer cette action ?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Non
        </div>
        <a id="confirm-button" class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Oui
        </a>
    </div>
</div>
