<div id="confirm-modal" class="ui basic mini modal">
    <div class="ui icon header">
        <i class="answer icon"></i>
        {{ 'blast.ui.modals.confirm.title'|trans }}
    </div>
    <div class="content">
        <p>{{ 'blast.ui.modals.confirm.message'|trans }}</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            {{ 'blast.ui.no_label'|trans }}
        </div>
        <a id="confirm-button" class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            {{ 'blast.ui.yes_label'|trans }}
        </a>
    </div>
</div>
