{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}

<ul class="list">
    {% for taxon in value %}
        <li>
            {{ taxon.name }} <span class="badge">{{ taxon.code }}</span>
        </li>
    {% endfor %}
</ul>

{% endblock %}
