{% block field %}

    {% set colors = {
        'customer': 'gray', 
        'internal': 'maroon',
        'virtual': 'black', 
        'scrap': 'orange', 
        'supplier': 'blue'
    } %}

    {% set icons = {
        'customer': 'user', 
        'internal': 'archive', 
        'scrap': 'trash', 
        'virtual': 'cube', 
        'supplier': 'industry'
    } %}
    {% set type = value.value %}
    <span class="label bg-{{ colors[type]|default('black')  }}">
        <i class="fa fa-{{ icons[type]|default('question') }}"></i>
        {{ ('sil.stock.location_type.' ~ type)|trans }}
    </span>

{% endblock %}