{% block field %}

    {% set colors = {
        'internalTransfer': 'gray',
        'receipt': 'maroon',
        'shipping': 'blue'
    } %}

    {% set icons = {
        'internalTransfer': 'cube',
        'receipt': 'industry',
        'shipping': 'user',
    } %}
    {% set type = value.value %}
    <span class="label bg-{{ colors[type]|default('black')  }}">
        <i class="fa fa-{{ icons[type]|default('question') }}"></i>
        {{ ('sil.stock.operation_type_enum.' ~ type)|trans }}
    </span>

{% endblock %}
