
{% extends 'SilMediaBundle:dropzone:dropzone_template.mustache.twig' %}

{% block buttons %}
    {{ parent() }}

    <button class="btn btn-info inline">
        <i class="glyphicon glyphicon-arrow-up"></i>
    </button>
{% endblock %}
