<li>
    <a href="{{ path('sylius_shop_product_show', {slug: object.slug}) }}"
       title="{{ 'sil.action.product_shop_link'|trans() }}"
       target="_blank">
        <i class="fa fa-external-link"></i>
        {{ 'sil.action.product_shop_link'|trans() }}
    </a>
</li>
