{% extends "SilCRMBundle:CRUD:show_field_organizations.html.twig" %}

{% block individual %}
    {% if organism_admin.isGranted('SHOW') %}
        <a href="{{ path('admin_librinfo_emailcrm_organism_show', {'id': position.organization.id}) }}">{{ position.organization|render_relation_element(elems['organization']) }}</a>
    {% else %}
        {{ position.organism|render_relation_element(elems['organism']) }}
    {% endif %}
{% endblock %}
