<table class="ui very basic table">
    <tbody>
        <tr>
            <td width="40%">
                {{ form_widget(form.id) }}
                {{ form_widget(form.attributeType) }}
                {{ form_widget(form.specificName) }}
            </td>
            <td>
                {{ form_widget(form.value) }}
            </td>
        </tr>
    </tbody>
</table>
