{% set layout = 'TwigBundle:Exception:front_exception_layout.html.twig' %}

{% if app.request.requestUri starts with sil.url_prefix %}
    {% set layout = 'TwigBundle:Exception:back_exception_layout.html.twig' %}
{% endif %}

{% extends layout %}

{% block exception_content %}
<div class="exceptionContainer">
    <img src="{{ asset('/bundles/lisem/img/error-image.png') }}" class="errorImage"/>
    <h1>{{'http_error.not_implemented'|trans({},'messages')}}</h1>

    <p>
        {{('http_error.'~status_code)|trans({},'messages')}}
    </p>

    <p>
        <a href="javascript:window.history.go(-1);">{{"http_error.previous_page"|trans}}</a>.
    </p>
</div>
{% endblock %}
