{% if admin.hasRoute('send') and not object.sent %}
    <a href="{{ admin.generateObjectUrl('send', object) }}" class="btn btn-sm btn-default" title="{{ 'Send'|trans({}, 'LibrinfoEmailBundle') }}">
        <i class="fa fa-paper-plane"></i>
        {{ 'action_send'|trans({}, 'LibrinfoEmailBundle') }}
    </a>
{% endif %}
