Sil\Bundle\StockBundle\Domain\Entity\Batch:
    type: mappedSuperclass
    table: sil_stock_batch
    fields:
        code:
            type: string(64)
            unique: true
            nullable: false
