imports:
    - { resource: services/console.yml }



services:



    blast.resource_registry:
         class: Blast\Component\Resource\Metadata\MetadataRegistry

    blast.resource.doctrine.orm.listener.mapped_superclass:
        class: Blast\Bundle\ResourceBundle\Doctrine\ORM\EventListener\MappedSuperClassSubscriber
        arguments: ['@blast.resource_registry']
        tags:
            - { name: doctrine.event_subscriber, priority: 9000}

    blast.resource.doctrine.orm.listener.repository:
        class: Blast\Bundle\ResourceBundle\Doctrine\ORM\EventListener\RepositorySubscriber
        arguments: ['@blast.resource_registry']
        tags:
            - { name: doctrine.event_subscriber, priority: 9000}

    blast.resource.sonata.label_strategy.prefix:
        class: Blast\Bundle\ResourceBundle\Sonata\Translator\PrefixLabelTranslatorStrategy
        shared: false


   # blast.sonata.crud_controller:
   #     class:  Blast\Bundle\ResourceBundle\Sonata\Controller\CRUDController
   #     calls:
   #         - ["setContainer", ['@service_container']]


   # sonata.admin.helper:
   #     class:  Blast\Bundle\ResourceBundle\Sonata\Admin\AdminHelper
   #     arguments: ['@sonata.admin.pool']
