$primaryColor     : #3C8DBC;
$secondaryColor   : #065D79;

$red              : #DB2828;
$orange           : #F2711C;
$yellow           : #FBBD08;
$olive            : #B5CC18;
$green            : #66bb6a;
$teal             : #00B5AD;
$blue             : #3C8DBC;
$violet           : #6435C9;
$purple           : #A333C8;
$pink             : #E03997;
$brown            : #A5673F;
$grey             : #767676;
$black            : #1B1C1D;
$white            : #FFFFFF;
