@import 'colors';

/* latin-ext */
@font-face {
    font-family  : 'Raleway';
    font-style   : normal;
    font-weight  : 400;
    src          : local('Raleway'), local('Raleway-Regular'), url("/fonts/Raleway-ext.woff2") format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family  : 'Raleway';
    font-style   : normal;
    font-weight  : 400;
    src          : local('Raleway'), local('Raleway-Regular'), url("/fonts/Raleway.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/**
 * Picked from https://gist.github.com/bl4ck5un/ed27db3d653011b32ee0877058abac7d
 */
/* Mobile */
@media only screen and (max-width: 767px) {
    [class*="computer only"]:not(.mobile),
    [class*="large screen only"]:not(.mobile),
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="or lower hidden"],
    [class*="widescreen only"]:not(.mobile) {
        display: none !important;
    }
}
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    [class*="large screen only"]:not(.tablet),
    [class*="mobile only"]:not(.tablet),
    [class*="or lower hidden"]:not(.mobile),
    [class*="tablet hidden"],
    [class*="computer only"]:not(.tablet),
    [class*="widescreen only"]:not(.tablet) {
        display: none !important;
    }
}
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    [class*="computer hidden"],
    [class*="large screen only"]:not(.computer),
    [class*="mobile only"]:not(.computer),
    [class*="or lower hidden"]:not(.tablet):not(.mobile),
    [class*="tablet only"]:not(.computer),
    [class*="widescreen only"]:not(.computer) {
        display: none !important;
    }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
    [class*="mobile only"]:not([class*="large screen"]),
    [class*="tablet only"]:not([class*="large screen"]),
    [class*="computer only"]:not([class*="large screen"]),
    [class*="large screen hidden"],
    [class*="widescreen only"]:not([class*="large screen"]),
    [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
        display: none !important;
    }
}
/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
    [class*="mobile only"]:not([class*="widescreen"]),
    [class*="tablet only"]:not([class*="widescreen"]),
    [class*="computer only"]:not([class*="widescreen"]),
    [class*="large screen only"]:not([class*="widescreen"]),
    [class*="widescreen hidden"],
    [class*="widescreen or lower hidden"] {
        display: none !important;
    }
}

body {
    font-family: 'Raleway','Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;

    &.login {
        background-color: $primaryColor;

        .column {
            max-width: 450px;
        }

        & > .grid {
            height    : 100%;
            min-height: 100%;
        }

        .ui.primary.image.header {
            .content {
                color: $white;
            }
        }
    }

    .ui {
        &.fixed.inverted.menu {
            background-color: $primaryColor;

            .ui.breadcrumb {
                margin-left: 0.5em;

                a.section {
                    line-height: 2.85rem;
                    color      : $white;

                    &:not(:last-child) {
                        margin-right: 1.5em;

                        &::after {
                            content    : ' ';
                            background : transparent url("/bundles/blastui/img/bc-separator.png") 50% 50% scroll;
                            width      : 8px;
                            height     : 40px;
                            display    : inline;
                            position   : absolute;
                            margin-left: 0.5em;
                            opacity    : 0.15;
                        }
                    }
                }
            }
        }

        &.top.bar {
            .search.field {
                max-width : 3em;
                transition: all 0.2s ease;

                &.focused,
                &:hover {
                    max-width: 300px;
                }
            }
        }

        &.filters {
            display: none;

            .ui.filter {
                display: none;
            }
        }

        &.sidebar.vertical.menu {

            overflow-x: hidden;

            .item:not(.header) {

                font-size : 0.9rem;
                box-sizing: border-box;
                padding   : 0;
                color     : $black;

                &:hover,
                &:hover > i.icon {
                    color: $primaryColor;
                }

                & > .content,
                & > .title,
                &.simple {
                    padding: 0.7em;
                }

                & > .menu {
                    margin: 0 -0.7em;
                }

                & > i.icon {
                    color: $black;
                }
            }
        }
    }

}

.toolbar {
    padding: 1em 0 0;
}

.ui.left.sidebar~.fixed.menu,
.ui.left.sidebar~.pusher {
    transition: 0.3s all ease;
}

.ui.visible.left.sidebar~.fixed.menu,
.ui.visible.left.sidebar~.pusher {
    padding-right: 260px;
    transition   : 0.3s all ease;
}

#content {
    padding: 54px 0 0;
}

i.rounded.icon {
    border-radius   : 0.285rem !important;
    line-height     : 1 !important;
    padding         : 0.1em 0.1em !important;
    border          : 1px solid #d4d4d5;
    width           : 2em !important;
    height          : 2em !important;
    background-color: $white;
}

.ui.vertical.menu > .item:first-child,
body.pushable,
body.pushable .pusher {
    background-color: #f5f5f5;
}

.ui.button.right.floated,
.ui.right.floated {
    float: right;
    clear: both;
}

.ui.cards.centered {
    margin-left : auto;
    margin-right: auto;
    clear       : both;
}

.ui.vertical.segment {
    border-bottom: none;
}

.ui.empty.white {
    background-color: $white;
    opacity         : 1;
}

.ui.blue.block.header {
    background-color: $primaryColor;
    border-color    : $primaryColor;
    color           : $white !important;
}

.ui.styled.accordion .content,
.ui.styled.accordion .title.active {
    background-color: #F5F5F5;
    border-color    : #F5F5F5;
    color           : $primaryColor !important;
}

.ui.with.form form.ui.form {
    display: none;
}

.clearfix::after {
    clear  : both;
    display: block;
}

.ui.selection.dropdown {
    min-width: 6em;
}

.ui.toggler {
    background-color: $primaryColor;
    border-color    : $secondaryColor;
    border-radius   : 0 0 0.3em 0.3em;
    position        : relative;
    top             : -1.25em;
    cursor          : pointer;
}

.ui.toggler::after {
    position           : absolute;
    content            : '';
    top                : 0;
    right              : 100%;
    background-color   : transparent !important;
    border-style       : solid;
    border-width       : 0 0 0.5em 0.5em;
    border-color       : transparent;
    border-bottom-color: transparent;
    border-bottom-color: inherit;
    width              : 0;
    height             : 0;
}

.ui.toggler .icon,
.ui.toggler .icon:only-child {
    color : $white;
    margin: 0.75em 0.3em 0.5em;
}

.step.content .step:not(.active) {
    display : none;
    height  : 0;
    overflow: hidden;
}

.ui.menu:not(.vertical) > .item > .ui.compact.dropdown {
    padding-bottom: 0.2em;
    padding-top   : 0.2em;
}

.ui.menu:not(.vertical) > .item > .ui.compact.dropdown > .ui.label {
    margin       : 0.2em !important;
    border-radius: 0.28571429rem !important;
}

.ui.menu:not(.vertical) > .item > .ui.compact.dropdown.primary > .ui.label {
    color     : $primaryColor;
    background: $white;
    border    : none;
    box-shadow: none;
}

.ui.inverted.menu .item.secondary.inverted {
    background-color: $secondaryColor;
}

.borderless,
.ui.borderless {
    border: none;
}

.ui.make-default {
    display: none;
}

.ui.table {
    tr {
        &.inverted {
            &.red {
                & > td {
                    background-color: $red;
                    color           : $white;
                }
            }

            &.orange {
                & > td {
                    background-color: $orange;
                    color           : $white;
                }
            }

            &.yellow {
                & > td {
                    background-color: $yellow;
                    color           : $white;
                }
            }

            &.olive {
                & > td {
                    background-color: $olive;
                    color           : $white;
                }
            }

            &.green {
                & > td {
                    background-color: $green;
                    color           : $white;
                }
            }

            &.teal {
                & > td {
                    background-color: $teal;
                    color           : $white;
                }
            }

            &.blue {
                & > td {
                    background-color: $blue;
                    color           : $white;
                }
            }

            &.violet {
                & > td {
                    background-color: $violet;
                    color           : $white;
                }
            }

            &.purple {
                & > td {
                    background-color: $purple;
                    color           : $white;
                }
            }

            &.pink {
                & > td {
                    background-color: $pink;
                    color           : $white;
                }
            }

            &.brown {
                & > td {
                    background-color: $brown;
                    color           : $white;
                }
            }

            &.grey {
                & > td {
                    background-color: $grey;
                    color           : $white;
                }
            }

            &.black {
                & > td {
                    background-color: $black;
                    color           : $white;
                }
            }

            &.white {
                & > td {
                    background-color: $white;
                    color           : $black;
                }
            }
        }
    }
}

.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover {
    border-color: $blue;
}
