<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>

        {# ############################################################################# #}
        {#    HEAD                                                                       #}
        {# ############################################################################# #}

        {% block head %}

            {# ######################################################################### #}
            {#    FAVICON                                                                #}
            {# ######################################################################### #}

            {% block favicon %}
                <link rel="icon" type="image/png" href="/bundles/blastui/img/li-favicon.png"/>
            {% endblock favicon %}

            {# ######################################################################### #}
            {#    TITLE                                                                  #}
            {# ######################################################################### #}

            {% spaceless %}
                <title>
                    {% block title %}SIL Platform{% endblock title %}
                </title>
            {% endspaceless %}

            {# ######################################################################### #}
            {#    STYLESHEETS                                                            #}
            {# ######################################################################### #}

            {% block stylesheets %}

                {{ blastui_handle_theme() }} {# Check if UI theme has been set #}

                {% set theme = app.session.get('theme') %}

                {% include '@BlastUI/Layout/Styles/' ~ theme ~ '.html.twig' %}
            {% endblock stylesheets %}

        {% endblock head %}
    </head>

    <body class="{% spaceless %}{% block body_class %}{% endblock body_class %}{% endspaceless %}">

        {# ############################################################################# #}
        {#    BODY                                                                       #}
        {# ############################################################################# #}

        {% block body %}{% endblock body %}

        {# ############################################################################# #}
        {#    JAVASCRIPTS                                                                #}
        {# ############################################################################# #}

        {% block javascripts %}

            {# ######################################################################### #}
            {#     DEPENDENCIES                                                          #}
            {# ######################################################################### #}

            <script src="/bundles/blastui/js/jquery.min.js"></script>
            <script src="/bundles/blastui/js/semantic.min.js"></script>
            <script src="/bundles/blastui/js/semantic-custom.min.js"></script>
        {% endblock javascripts %}

    </body>

</html>
