<p style="color: #EEE">
    <small>{{ 'sil.manufacturing.manufacturing_order.show.label.manufacturing_order'|trans }} [{{ object.code }}]</small> <strong>{{ object.bom.stockItem.name }}</strong>
</p>
