<div class="ui bottom attached tab segment" data-tab="variety">
    {% if product.variety is not null and product.variety.commercial_descriptions|length > 0 %}
        {{ sortVarietyDescriptions(product.variety, 'commercial') }}
        <table class="ui definition celled padded table">
            <tbody>
                {% for desc in product.variety.commercial_descriptions if desc.value != '' %}
                    <tr>
                        <td width="33%" class="right aligned">
                            <b>{{ displayVarietyDescriptionLabel(desc) }}</b>
                        </td>
                        <td>
                            {{ displayVarietyDescriptionValue(desc) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
