{% if product.imagesByType('thumbnail') is not empty %}
    {% set path = product.imagesByType('thumbnail').first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
{% elseif product.images.first %}
    {% set path = product.images.first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
{% else %}
    {% set path = asset('/bundles/syliusshop/img/default-product-image.png')|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
{% endif %}

<div class="ui fluid image bordered" style="
    background-image:url({{ path }});
    background-position: 50% 50%;
    background-size:contain;
    background-repeat: no-repeat;
">

</div>
