
services:
    sil_stock.admin.stock_unit:
        class: Sil\Bundle\StockBundle\Admin\StockUnitAdmin
        arguments: [~, "%sil.model.stock_unit.class%", sil.controller.stock_unit]
        calls:
            - [setStockUnitCodeGenerator, ['@sil.code_generator.stock_unit']]
            - [setResourceRepository, ['@sil.repository.stock_unit']]
            - [ setTemplates, [{show: SilStockBundle:CRUD:show.html.twig,edit: SilStockBundle:CRUD:edit.html.twig,list: SilStockBundle:CRUD:list.html.twig}]]

        tags:
            -
                name: sonata.admin
                manager_type: orm
                group: Stock Management
                label: sil.stock.menu_label.stock_units
                label_translator_strategy: blast.resource.sonata.label_strategy.prefix
