{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div id="sylius-variants-pricing" data-unavailable-text="{{ 'sylius.ui.unavailable'|trans }}">
{% for price in pricing %}
    {% if price['enabled'] == true %}
        <div {% for option, value in price %}data-{{ option }}="{% if option == 'value' %}{{ money.convertAndFormat(value) }}{% else %}{{ value|replace({'\"': '\''}) }}{% endif %}" {% endfor %}></div>
    {% endif %}
{% endfor %}
</div>
