{# ##################################################################################### #}
{#    INPUT CLASS                                                                        #}
{# ##################################################################################### #}

{% set fieldClass = 'ui button' %}

{% if field.class is defined %}
    {% set fieldClass = 'ui button ' ~ field.class %}
{% endif %}

{# ##################################################################################### #}
{#    INPUT ICON                                                                         #}
{# ##################################################################################### #}

{% set fieldIcon = null %}

{% if field.icon is defined %}
    {% set fieldIcon = field.icon %}
    {% set fieldClass = fieldClass ~ ' labeled icon' %}
{% endif %}

{# ##################################################################################### #}
{#    INPUT                                                                              #}
{# ##################################################################################### #}

<button class="{{ fieldClass }}" tabindex="1">

    {% if fieldIcon is not null %}
        <i class="{{ fieldIcon }} icon"></i>
    {% endif %}

    {{ field.label }}

</button>
