{# ##################################################################################### #}
{#    INPUT CLASS                                                                        #}
{# ##################################################################################### #}

{% set fieldClass = 'field' %}

{% if field.class is defined %}
    {% set fieldClass = 'field ' ~ field.class %}
{% endif %}

{% if field.inline == true %}
    {% set fieldClass = fieldClass ~ ' inline' %}
{% endif %}

{% if field.readonly %}
    {% set fieldClass = fieldClass ~ ' readonly' %}
{% endif %}

{# ##################################################################################### #}
{#    INPUT TABINDEX                                                                     #}
{# ##################################################################################### #}

{% set tabindex = 1 %}

{% if field.readonly %}
    {% set tabindex = -1 %}
{% endif %}

{# ##################################################################################### #}
{#    INPUT                                                                              #}
{# ##################################################################################### #}

<div class="{{ fieldClass }}">
    <div class="ui toggle checkbox">
        <input
            type="checkbox"
            name="{{ field.name }}"
            class="hidden"
            tabindex="{{ tabindex }}"
            {% if field.value == true %}checked="checked"{% endif %}
            {% if field.disabled %}disabled="disabled"{% endif %}
        />

        {% if field.label is defined and field.label is not null %}
            <label>{{ field.label }}</label>
        {% endif %}

    </div>
</div>
