{# ##################################################################################### #}
{#    INPUT CLASS                                                                        #}
{# ##################################################################################### #}

{% set fieldClass = 'ui' %}

{% if field.class is defined %}
    {% set fieldClass = 'ui ' ~ field.class %}
{% endif %}

{# ##################################################################################### #}
{#    INPUT ICON                                                                         #}
{# ##################################################################################### #}

{% set fieldIcon = null %}

{% if field.icon is defined %}
    {% set fieldIcon = field.icon %}
    {% set fieldClass = fieldClass ~ ' labeled icon' %}
{% endif %}

{# ##################################################################################### #}
{#    LINK SRC                                                                           #}
{# ##################################################################################### #}

{% set linkSrc = '#' %}

{% if field.src is defined %}
    {% set linkSrc = field.src %}
{% endif %}

{# ##################################################################################### #}
{#    INPUT                                                                              #}
{# ##################################################################################### #}

<a href="{{ linkSrc }}" class="{{ fieldClass }}" tabindex="1">

    {% if fieldIcon is not null %}
        <i class="{{ fieldIcon }} icon"></i>
    {% endif %}

    {{ field.label }}

</a>
