
services:
    sil_ecommerce.admin.product:
        class: Sil\Bundle\EcommerceBundle\Admin\ProductAdmin
        arguments: [~, "%sil.model.ecommerce_product.class%", SilEcommerceBundle:ProductCRUD]
        tags:
            -
                name: sonata.admin
                manager_type: orm
                group: admin
                label: sil.ecommerce.menu_label.product
                label_translator_strategy: blast.resource.sonata.label_strategy.prefix
        calls:
            - [ setTemplate, [ edit, SilEcommerceBundle:ProductAdmin:edit.html.twig ] ]
