<span id="payment_state">
    &nbsp;
    {% include('SilEcommerceBundle:OrderAdmin:_state_label.html.twig') with {'category': 'order_payment', 'value': object.paymentState} %}
</span>

<script>
    $( document ).ready(function(){
        $('#payment_state').appendTo( $('#payment_state').closest('.box').find('.box-header').first() );
    })
</script>
