<div class="ui clearing very basic segment">
    <div class="ui equal width grid">
        <div class="three stackable column row">

            <div class="left floated column center aligned">
                <div class="ui left labeled icon button disabled prev step">
                    Étape précédente
                    <i class="angle left icon"></i>
                </div>
            </div>

            {% if withCancelButton %}

                <div class="column center aligned">
                    <a class="ui left labeled icon button" href="javascript:history.back();">
                        Annuler
                        <i class="undo icon"></i>
                    </a>
                </div>

            {% endif %}

            <div class="right floated column center aligned">
                <div class="ui green right labeled icon button next step">
                    Étape suivante
                    <i class="angle right icon"></i>
                </div>
            </div>

        </div>
    </div>
</div>
