<div class="ui clearing segment with form">
    <h4 class="ui header">
        {{ title }}
    </h4>
    <div class="ui divider"></div>
    {{ widget.field_group(data, fields, editable, withSubmit) }}
</div>
